@import url("https://fonts.googleapis.com/css2?family=Mogra&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  color: white;
  background-color: #c519b9;
  background-image: linear-gradient(10deg, #3333ff, #c519b9);
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 50vh;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
}
.content {
  margin-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.content_title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.content_description {
  font-weight: 400;
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .form_input {
  max-width: 500px;
  min-width: 300px;
  height: 58px;
  background: white;
  color: #c519b9;
  outline: none;
  border: none;
  text-indent: 10px;
  font-size: 18px;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.form .form_button {
  /* width: 80%;
  height: 50px;
  background: #639c5b;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 3rem;
  border-radius: 10px;
  transition: 0.3s all; */
  border-radius: 5px;
  width: 80%;
  height: 50px;
  background-color: transparent;
  border: 2px solid #eccfff;
  color: #eccfff;
  font-size: 20px;
  transition: 0.3s;
}
.form_button:hover {
  /* background: #c57fc0;
  border: 0px solid #abffa0;
  color: white;
  box-shadow: 0px 0px 20px -10px rgb(0, 0, 0);
  transform: scale(1.03); */

  background-color: #ffffff;
  border: 2px solid #fff;
  color: #3333ff;
  box-shadow: 0px 0px 20px -10px #eccfff;
  transform: scale(1.03);
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}

.download_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  width: 140px;
  height: 50px;
  border: 2px solid #eccfff;
  background-color: transparent;
  color: #eccfff;
  font-size: 20px;
  transition: 0.3s;
}
.download_btn:hover {
  background-color: #ffffff;
  border: 2px solid #fff;
  color: #3333ff;
  box-shadow: 0px 0px 20px -10px #eccfff;
  transform: scale(1.03);
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}
.titleDownloaded {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border: 1px solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.titleDownloaded .title {
  font-style: italic;
  padding-left: 5px;
  margin-right: 10px;
  color: #eccfff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  overflow: hidden !important;
}

.copyright {
  height: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.contact {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  color: white;
  transition: 0.3s color;
}
.contact:hover {
  color: #abffa0;
}
@media screen and (max-width: 600px) {
  .content {
    margin-top: 10rem;
  }
  .content_title {
    font-size: 40px;
  }
  .titleDownloaded {
    font-size: 12px;
  }
  .titleDownloaded .title {
    font-size: 15px;
    margin-right: 10px;
  }
  .download_btn {
    width: 170px;
    padding: 20px 0px 20px 0px;
  }
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -20%;
  }
}
